#red #E9202A

button, input[type="button"], input[type="submit"] {  
   margin-top: 8px; 
   background-color: #020202; 
   color: white; 
   border-radius: 6px; 
   border: 0px solid; 
   width: 50%; 
   height: 40px;
}

.bodyDiv {
    width: 100%; 
    text-align: center; 
    padding-top: 0%;
    font-family: 'VT323', sans-serif;
    font-size: xx-large;
    text-shadow: 1px 1px  #E9202A, -1px -1px  turquoise;

}

.errorOutput {
  font-family: sans-serif;
  text-shadow: none;
  text-align: left;
}

.logo {
    padding-top: 4%;
    max-width: auto; 
    height: 80px;
}

.textInput{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

input:invalid {
    border: 1px solid red;
}

/* ------------------------------------------------------------- */

/* CSS */
button, input[type="button"], input[type="submit"], button:after {
    width: 60%;
    height: 40px;
    line-height: 100%;
    /* font-size: 20px;
    font-family: 'Bebas Neue', sans-serif; */
    background: linear-gradient(45deg, transparent 5%, #E9202A 5%);
    border: 0px;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  /* -------------------BACKGROUND ANIMATION----------------------------  */
  
  /* body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
      overflow: hidden;
    } */
    
    .stars {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      transform: rotate(-45deg);
      z-index: -1;
    }
    
    .star {
      --star-color: turquoise;
      --star-tail-length: 6em;
      --star-tail-height: 2px;
      --star-width: calc(var(--star-tail-length) / 6);
      --fall-duration: 9s;
      --tail-fade-duration: var(--fall-duration);
      position: absolute;
      top: var(--top-offset);
      left: 0;
      width: var(--star-tail-length);
      height: var(--star-tail-height);
      color: var(--star-color);
      background: linear-gradient(45deg, currentColor, transparent);
      border-radius: 50%;
      filter: drop-shadow(0 0 6px currentColor);
      transform: translate3d(104em, 0, 0);
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    }
    @media screen and (max-width: 750px) {
      .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
      }
    }
    .star:nth-child(1) {
      --star-tail-length: 7.31em;
      --top-offset: 20.83vh;
      --fall-duration: 11.672s;
      --fall-delay: 7.079s;
    }
    .star:nth-child(2) {
      --star-tail-length: 5.53em;
      --top-offset: 23.39vh;
      --fall-duration: 10.276s;
      --fall-delay: 9.761s;
    }
    .star:nth-child(3) {
      --star-tail-length: 7.23em;
      --top-offset: 86.86vh;
      --fall-duration: 10.606s;
      --fall-delay: 4.795s;
    }
    .star:nth-child(4) {
      --star-tail-length: 6.12em;
      --top-offset: 96.04vh;
      --fall-duration: 9.17s;
      --fall-delay: 4.102s;
    }
    .star:nth-child(5) {
      --star-tail-length: 5.81em;
      --top-offset: 48.49vh;
      --fall-duration: 11.609s;
      --fall-delay: 6.622s;
    }
    .star:nth-child(6) {
      --star-tail-length: 5.55em;
      --top-offset: 23.05vh;
      --fall-duration: 8.779s;
      --fall-delay: 3.259s;
    }
    .star:nth-child(7) {
      --star-tail-length: 6.76em;
      --top-offset: 20.47vh;
      --fall-duration: 8.319s;
      --fall-delay: 6.145s;
    }
    .star:nth-child(8) {
      --star-tail-length: 7.27em;
      --top-offset: 22.1vh;
      --fall-duration: 7.177s;
      --fall-delay: 7.118s;
    }
    .star:nth-child(9) {
      --star-tail-length: 6.85em;
      --top-offset: 81.93vh;
      --fall-duration: 10.385s;
      --fall-delay: 2.929s;
    }
    .star:nth-child(10) {
      --star-tail-length: 6.67em;
      --top-offset: 44.84vh;
      --fall-duration: 8.697s;
      --fall-delay: 0.101s;
    }
    .star:nth-child(11) {
      --star-tail-length: 5.56em;
      --top-offset: 36.5vh;
      --fall-duration: 9.255s;
      --fall-delay: 2.903s;
    }
    .star:nth-child(12) {
      --star-tail-length: 6.46em;
      --top-offset: 77.19vh;
      --fall-duration: 11.138s;
      --fall-delay: 9.463s;
    }
    .star:nth-child(13) {
      --star-tail-length: 7.46em;
      --top-offset: 71.32vh;
      --fall-duration: 10.099s;
      --fall-delay: 4.868s;
    }
    .star:nth-child(14) {
      --star-tail-length: 5.01em;
      --top-offset: 76.96vh;
      --fall-duration: 8.623s;
      --fall-delay: 2.058s;
    }
    .star:nth-child(15) {
      --star-tail-length: 6.37em;
      --top-offset: 96.02vh;
      --fall-duration: 7.089s;
      --fall-delay: 0.958s;
    }
    .star:nth-child(16) {
      --star-tail-length: 5.25em;
      --top-offset: 65.38vh;
      --fall-duration: 6.815s;
      --fall-delay: 7.218s;
    }
    .star:nth-child(17) {
      --star-tail-length: 7.45em;
      --top-offset: 25.95vh;
      --fall-duration: 9.396s;
      --fall-delay: 4.463s;
    }
    .star:nth-child(18) {
      --star-tail-length: 6.76em;
      --top-offset: 86.7vh;
      --fall-duration: 6.428s;
      --fall-delay: 3.334s;
    }
    .star:nth-child(19) {
      --star-tail-length: 6.19em;
      --top-offset: 56.9vh;
      --fall-duration: 8.428s;
      --fall-delay: 5.641s;
    }
    .star:nth-child(20) {
      --star-tail-length: 5.93em;
      --top-offset: 90.24vh;
      --fall-duration: 7.672s;
      --fall-delay: 9.903s;
    }
    .star:nth-child(21) {
      --star-tail-length: 6.32em;
      --top-offset: 28.97vh;
      --fall-duration: 8.843s;
      --fall-delay: 3.146s;
    }
    .star:nth-child(22) {
      --star-tail-length: 5.07em;
      --top-offset: 89.03vh;
      --fall-duration: 7.281s;
      --fall-delay: 8.529s;
    }
    .star:nth-child(23) {
      --star-tail-length: 7.02em;
      --top-offset: 23.45vh;
      --fall-duration: 9.418s;
      --fall-delay: 2.788s;
    }
    .star:nth-child(24) {
      --star-tail-length: 7.34em;
      --top-offset: 3.2vh;
      --fall-duration: 11.083s;
      --fall-delay: 0.716s;
    }
    .star:nth-child(25) {
      --star-tail-length: 7.36em;
      --top-offset: 4.38vh;
      --fall-duration: 9.266s;
      --fall-delay: 7.353s;
    }
    .star:nth-child(26) {
      --star-tail-length: 5.08em;
      --top-offset: 21.54vh;
      --fall-duration: 6s;
      --fall-delay: 5.213s;
    }
    .star:nth-child(27) {
      --star-tail-length: 5.63em;
      --top-offset: 43.21vh;
      --fall-duration: 10.451s;
      --fall-delay: 3.757s;
    }
    .star:nth-child(28) {
      --star-tail-length: 7.2em;
      --top-offset: 73.67vh;
      --fall-duration: 7.376s;
      --fall-delay: 0.65s;
    }
    .star:nth-child(29) {
      --star-tail-length: 6.55em;
      --top-offset: 2.02vh;
      --fall-duration: 8.507s;
      --fall-delay: 0.882s;
    }
    .star:nth-child(30) {
      --star-tail-length: 5.49em;
      --top-offset: 51.56vh;
      --fall-duration: 7.922s;
      --fall-delay: 3.553s;
    }
    .star:nth-child(31) {
      --star-tail-length: 5.26em;
      --top-offset: 26.65vh;
      --fall-duration: 9.961s;
      --fall-delay: 7.747s;
    }
    .star:nth-child(32) {
      --star-tail-length: 5.87em;
      --top-offset: 44.45vh;
      --fall-duration: 10.915s;
      --fall-delay: 1.893s;
    }
    .star:nth-child(33) {
      --star-tail-length: 5.68em;
      --top-offset: 89.3vh;
      --fall-duration: 7.863s;
      --fall-delay: 7.612s;
    }
    .star:nth-child(34) {
      --star-tail-length: 6.82em;
      --top-offset: 34.94vh;
      --fall-duration: 9.547s;
      --fall-delay: 6.134s;
    }
    .star:nth-child(35) {
      --star-tail-length: 5.96em;
      --top-offset: 95.41vh;
      --fall-duration: 10.19s;
      --fall-delay: 9.556s;
    }
    .star:nth-child(36) {
      --star-tail-length: 7.07em;
      --top-offset: 92.45vh;
      --fall-duration: 10.494s;
      --fall-delay: 8.488s;
    }
    .star:nth-child(37) {
      --star-tail-length: 7.11em;
      --top-offset: 44.79vh;
      --fall-duration: 6.519s;
      --fall-delay: 7.113s;
    }
    .star:nth-child(38) {
      --star-tail-length: 5.15em;
      --top-offset: 69.91vh;
      --fall-duration: 7.787s;
      --fall-delay: 8.304s;
    }
    .star:nth-child(39) {
      --star-tail-length: 5.09em;
      --top-offset: 60.86vh;
      --fall-duration: 8.032s;
      --fall-delay: 0.701s;
    }
    .star:nth-child(40) {
      --star-tail-length: 7.15em;
      --top-offset: 0.64vh;
      --fall-duration: 6.231s;
      --fall-delay: 3.313s;
    }
    .star:nth-child(41) {
      --star-tail-length: 5.1em;
      --top-offset: 78.01vh;
      --fall-duration: 11.672s;
      --fall-delay: 9.82s;
    }
    .star:nth-child(42) {
      --star-tail-length: 5.17em;
      --top-offset: 63.11vh;
      --fall-duration: 9.343s;
      --fall-delay: 8.814s;
    }
    .star:nth-child(43) {
      --star-tail-length: 5.2em;
      --top-offset: 62.57vh;
      --fall-duration: 6.926s;
      --fall-delay: 6.251s;
    }
    .star:nth-child(44) {
      --star-tail-length: 6.16em;
      --top-offset: 47.89vh;
      --fall-duration: 6.431s;
      --fall-delay: 9.798s;
    }
    .star:nth-child(45) {
      --star-tail-length: 5.26em;
      --top-offset: 55.13vh;
      --fall-duration: 11.453s;
      --fall-delay: 2.494s;
    }
    .star:nth-child(46) {
      --star-tail-length: 5.62em;
      --top-offset: 97.96vh;
      --fall-duration: 10.125s;
      --fall-delay: 7.249s;
    }
    .star:nth-child(47) {
      --star-tail-length: 5.92em;
      --top-offset: 88.66vh;
      --fall-duration: 6.802s;
      --fall-delay: 6.64s;
    }
    .star:nth-child(48) {
      --star-tail-length: 5.28em;
      --top-offset: 12.41vh;
      --fall-duration: 11.97s;
      --fall-delay: 1.109s;
    }
    .star:nth-child(49) {
      --star-tail-length: 5.97em;
      --top-offset: 81vh;
      --fall-duration: 6.646s;
      --fall-delay: 3.064s;
    }
    .star:nth-child(50) {
      --star-tail-length: 6.91em;
      --top-offset: 81.51vh;
      --fall-duration: 6.968s;
      --fall-delay: 8.082s;
    }
    .star::before, .star::after {
      position: absolute;
      content: "";
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }
    .star::before {
      transform: rotate(45deg);
    }
    .star::after {
      transform: rotate(-45deg);
    }
    
    @keyframes fall {
      to {
        transform: translate3d(-30em, 0, 0);
      }
    }
    @keyframes tail-fade {
      0%, 50% {
        width: var(--star-tail-length);
        opacity: 1;
      }
      70%, 80% {
        width: 0;
        opacity: 0.4;
      }
      100% {
        width: 0;
        opacity: 0;
      }
    }
    @keyframes blink {
      50% {
        opacity: 0.6;
      }
    }